.ui-kit-calendar-container {
  position: relative;
  display: block;
  float: left;
  z-index: 99; }
  .ui-kit-calendar-container .ui-kit-calendar-input {
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    width: 70px;
    height: 28px;
    background: #fff;
    cursor: pointer;
    padding-left: 12px;
    font-size: 0;
    transition: all 100ms ease; }
    .ui-kit-calendar-container .ui-kit-calendar-input i {
      font-size: 20px;
      position: absolute;
      right: 15px; }
    .ui-kit-calendar-container .ui-kit-calendar-input.opened {
      width: 150px;
      border: 1px solid #e6e6e6;
      color: #000;
      background: #fff;
      font-size: 12px; }
    .ui-kit-calendar-container .ui-kit-calendar-input span {
      display: none; }
      .ui-kit-calendar-container .ui-kit-calendar-input span.opened {
        display: inline;
        margin-right: 10px; }
  .ui-kit-calendar-container .ui-kit-calendar-cal-container {
    position: absolute;
    top: 30px;
    right: 0;
    color: #000;
    background: #fff;
    display: inline-block;
    width: 302px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #e6e6e6;
    transition: visibility 0s, opacity 100ms linear 100ms; }
    .ui-kit-calendar-container .ui-kit-calendar-cal-container.opened {
      visibility: visible;
      opacity: 1; }
    .ui-kit-calendar-container .ui-kit-calendar-cal-container:after,
    .ui-kit-calendar-container .ui-kit-calendar-cal-container:before {
      position: absolute;
      top: -16px;
      right: 28px;
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #e6e6e6;
      transform: rotate(-90deg); }

    .ui-kit-calendar-container .ui-kit-calendar-cal-container:after {
      border-left: 10px solid #fff;
      top: -15px;
    }
    .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-cal-top {
      width: 100%;
      height: 40px;
      line-height: 40px; }
      .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-cal-top i {
        display: block;
        float: left;
        font-size: 16px;
        width: 40px;
        height: 40px;
        text-align: center;
        cursor: pointer; }
      .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-cal-top span {
        display: block;
        float: left;
        width: 220px;
        height: 40px;
        font-size: 14px;
        text-align: center; }
    .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-day-names {
      width: 100%;
      height: 23px;
      background: #f4f4f4; }
      .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-day-names span {
        font-size: 10px;
        line-height: 23px;
        text-align: center;
        display: block;
        float: left;
        width: 14.28%;
        height: 23px; }
    .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-days {
      width: 100%;
      padding: 5px 0;
      margin-bottom: 15px; }
      .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-days span {
        font-size: 12px;
        display: block;
        float: left;
        text-align: center;
        height: 40px;
        line-height: 40px;
        width: 14.28%;
        cursor: pointer;
        border-radius: 50%; }
        .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-days span.today {
          background: #ccc; }
        .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-days span:not(.inactive):hover, .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-days span.is-active {
          background: #7323dc;
          color: #fff; }
        .ui-kit-calendar-container .ui-kit-calendar-cal-container .ui-kit-calendar-days span.inactive {
          cursor: default
        }

  .ui-kit-calendar-container.danger .ui-kit-calendar-input.opened {
    color: #e2747e;
    background: rgba(226, 116, 126, 0.15);
    border: 1px solid #e2747e; }
    .ui-kit-calendar-container.danger .ui-kit-calendar-input.opened i {
      color: #e2747e; }
  .ui-kit-calendar-container.danger .ui-kit-calendar-cal-container {
    background: #e2747e; }
    .ui-kit-calendar-container.danger .ui-kit-calendar-cal-container:after {
      border-left: 15px solid #e2747e; }
    .ui-kit-calendar-container.danger .ui-kit-calendar-cal-container .ui-kit-calendar-day-names {
      background: #c72938; }
    .ui-kit-calendar-container.danger .ui-kit-calendar-cal-container .ui-kit-calendar-days span:hover, .ui-kit-calendar-container.danger .ui-kit-calendar-cal-container .ui-kit-calendar-days span.is-active {
      color: #e2747e; }
  .ui-kit-calendar-container.warning .ui-kit-calendar-input.opened {
    color: #f4bf4d;
    background: rgba(244, 191, 77, 0.15);
    border: 1px solid #f4bf4d; }
    .ui-kit-calendar-container.warning .ui-kit-calendar-input.opened i {
      color: #f4bf4d; }
  .ui-kit-calendar-container.warning .ui-kit-calendar-cal-container {
    background: #f4bf4d; }
    .ui-kit-calendar-container.warning .ui-kit-calendar-cal-container:after {
      border-left: 15px solid #f4bf4d; }
    .ui-kit-calendar-container.warning .ui-kit-calendar-cal-container .ui-kit-calendar-day-names {
      background: #ce910d; }
    .ui-kit-calendar-container.warning .ui-kit-calendar-cal-container .ui-kit-calendar-days span:hover, .ui-kit-calendar-container.warning .ui-kit-calendar-cal-container .ui-kit-calendar-days span.is-active {
      color: #f4bf4d; }
  .ui-kit-calendar-container.success .ui-kit-calendar-input.opened {
    color: #3fc59d;
    background: rgba(63, 197, 157, 0.15);
    border: 1px solid #3fc59d; }
    .ui-kit-calendar-container.success .ui-kit-calendar-input.opened i {
      color: #3fc59d; }
  .ui-kit-calendar-container.success .ui-kit-calendar-cal-container {
    background: #3fc59d; }
    .ui-kit-calendar-container.success .ui-kit-calendar-cal-container:after {
      border-left: 15px solid #3fc59d; }
    .ui-kit-calendar-container.success .ui-kit-calendar-cal-container .ui-kit-calendar-day-names {
      background: #257960; }
    .ui-kit-calendar-container.success .ui-kit-calendar-cal-container .ui-kit-calendar-days span:hover, .ui-kit-calendar-container.success .ui-kit-calendar-cal-container .ui-kit-calendar-days span.is-active {
      color: #3fc59d; }

  .ui-kit-calendar-container.opened {
    z-index: 200;
  }
